body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

section {
    max-width: 1500px;
}

.container {
    max-width: 1370px;
    margin: 0 auto;
    display: flex
}

.logo {
    margin-top: 31px;
    float: left;
    padding-left: 40px;
}

.menu {
    width: 750px;
    height: 30px;
    font-weight: 530;
    font-size: 18px;
    line-height: 10px;
    color: #191919;
    margin-left: 35px;
    padding-top: 30px;
}

li {
    display: inline-block;
    font-family: Rubik;
    font-style: normal;
    margin-left: 44px;
}

a {
    text-decoration: none;
}

.menu a {
    font-weight: 540;
    font-size: 18px;
    line-height: 21px;
    color: #191919;
}

.header__button {
    margin-top: 30px;
    border-radius: 32px;
    background: #E50046;
    line-height: 54px;
    font-size: 20px;
    width: 210px;
    height: 54px;
    position: relative;
    text-align: center;
    box-shadow: 0px 3px 6px rgba(229, 0, 70, 0.24);
}

.header__button a {
    color: #fff;
    font-weight: bold;
    width: 210px;
    height: 54px;
    margin-left: 20px
}

.adress {
    width: 320px;
    height: 50px;
    left: 1230px;
    top: 44px;
    font-size: 18px;
    line-height: 25px;
    margin-top: 45px;
    margin-left: 130px;

}

.adress a {
    color: #E50046;
}

.adress img {
    position: absolute;
    right: 37%;
}

.header__button img {
    position: absolute;
    right: 140;
    top: 15;
    left: 20px;
}

.uzi {
    padding-left: 400px;
    width: 400px;
    height: 60px;
}

h1 {

    height: 60px;
    padding-top: 230px;
    font-size: 48px;
    line-height: 58px;
    color: #E50046;
}

.uzi p {
    position: absolute;
    top: 430px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
}

.uzi__button {
    position: relative;
    background: #E50046;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    top: 60px;
    border-radius: 32px;
    box-shadow: 0px 3px 6px rgba(229, 0, 70, 0.24);
    width: 257px;
    height: 54px;
    padding: 16px 32px;
    box-sizing: border-box
}

.uzi__button a {
    color: #fff;
}

.photo img {
    position: absolute;
    left: 890px;
    top: 186px;
    right: 290px;
}

.photo img:last-child {
    top: 230px;
    left: 960px;
    width: 508px;
    height: 474px;
    bottom: 0;
}

.hr1 {
    border-top: 1px solid #F3F3F3;
    position: relative;
    top: 666px;
    width: 1920;
}

h2 {
    position: absolute;
    left: 400px;
    top: 910px;
    font-size: 32px;
    line-height: 38px;
    color: #191919;
}

.h {
    position: absolute;
    width: 700px;
    top: 1100px;
    font-size: 32px;
    line-height: 38px;
    color: #191919;

}

.services__button {
    position: relative;
    width: 160px;
    height: 41px;
    left: 1368px;
    top: 742px;
    background: #E50046;
    border-radius: 25px;
    box-shadow: 0px 3px 6px rgba(229, 0, 70, 0.24);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

}


.services__button a {
    color: #F3F3F3;
    position: relative;
}

.block {
    position: relative;
    margin-top: 850px;
    left: 400;
}

.block2 {
    position: relative;
    left: 400;
    margin-top: 260px;
}

.hr2 {
    border-top: 1px solid #F3F3F3;
    position: relative;
    top: 250px;
    width: 1920px;
}

.services {
    display: inline-block;
    width: 200;
    margin-right: 160px;
}

.services__item {
    position: absolute;
    width: 400;
    height: 100;

}

.services__item a {
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    top: 40px;
    left: -95;


}

.list {
    position: relative;
    width: 400px;
    height: 150px;
    top: 150px;
}

.list ul {
    width: 300px;
    height: 200px;
    margin-left: -80;
}

.list li {
    width: 360;
    height: 30;
}

.list a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #8B929E;
}

.procedures a {
    color: #E50046;
    font-size: 14px;
}

.procedures {
    height: 18px;
    position: relative;
    top: 160px;
    width: 150;
    left: 5px;
}

.services__item img {
    width: 96px;
    height: 96px;
}

.services__button2 {
    position: relative;
    width: 200px;
    height: 45px;
    left: 1368px;
    top: 315px;
    background: #E50046;
    border-radius: 25px;
    box-shadow: 0px 3px 6px rgba(229, 0, 70, 0.24);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.services__button2 a {
    color: #F3F3F3;
    position: relative;
}

.spec__block {
    position: relative;
    top: 400px;
    left: 220;
}

.und2 {
  position: absolute;
    top: 980px;
    left: 470px;
}

.spec__block a {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.und1 {
    position: absolute;
    top: 980px;
    left: 475px;
}

.spec__block p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #8B929E;
}

.doc img {
    position: relative;
    margin-left: 200;
}

.doctors {
    display: inline-block;

}


.name a {
    width: 200px;
    top: 500;
    left: 200;
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.name {
    position: relative;
    left: 220;
    top: 50;
}

.infa a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.infa {
    position: relative;
    left: 220;
    top: 60;
}

.text {
    position: relative;
    top: 50;
    left: 220;
}

li {
    list-style-type: none;
}

.text a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #8B929E;
}

.more {
    position: relative;
    left: 220;
    top: 60;
}

.more a {

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #E50046;
}

.text ul {
    position: relative;
    width: 300;
    left: -83;
    top: 15;
}

.spec__block2 {
    position: relative;
    top: 560px;
    left: 220px;
}

.lin {
    border-top: 1px solid #f3f3f3;
    position: relative;
    top: 710px;
    width: 1900px;
}

.slick-prev:before,
.slick-next:before {
    position: absolute;
    color: #E50046;
    z-index: 1001;
    font-size: 38px;
    border-radius: 32px;
    box-shadow: 0px 1px 2px rgba(229, 0, 70, 0.24);
    width: 40px;
    height: 40px;
    top: -227px;
    left: 255px;
}

.slick-next:before {
    left: -980px;
}

.hr3 {
    position: relative;
    top: 830px;
    left: 440px;
    font-size: 32px;
    line-height: 38px;
    color: #191919;

}

.und {
    position: absolute;
    top: 40px;
    left: 80px;
}

.main {
    max-width: 1250px;
    max-height: 200px;
    margin: 20px auto;
    position: relative;
    top: 850px;
    left: 320px;
   
}

.sl__slide {
    max-width: 1250px;
    max-height: 250px;
   overflow: visible  ;
}

.inst {
    position: relative;
    top: -210px;
    left: 450px;
    width: 16px;
    height: 16px;
}


.inst__p {
    position: relative;
    width: 140px;
    top: -15px;
    left: 28px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #E50046;
    text-decoration: underline;


}

.inst__p p {
    margin: 0;

}

.sl__info {
    border-radius: 16px;
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.02);
    background: #FFFFFF;
    width: 600px;
    height: 244px; 
   
}

.com {
    max-width: 60px;
    max-height: 60px;
}

.com img {
    padding: 32px 0 0 32px;
}

.sl__text {
    position: relative;
    top: -55px;
    padding-left: 30px;
}

.sl__zag {
    position: relative;
    top: -45px;
    left: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #191919;
    max-width: 150px;
}

.sl__time {
    position: relative;
    top: -55px;
    left: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #8B929E;
    max-width: 100px;
}

.f__logo {
    position: relative;
    top: 1000px;
    float: left;
    padding: 0px 0 30px 40px;
}

.f__inst img {
    position: relative;
    float: right;
    top: 1015px;
    right: 55px;
}

.f__inst {
    position: relative;
    top: 5px;
    right: 25px;

}

.f__insta {
    position: relative;
    top: 100px;
    width: 130px;
    height: 17px;
    color: #E50046;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    float: right;
    top: 1001px;
    left: 100px;
    text-decoration: underline;
}

.f__name {
    position: relative;
    top: 1050px;
    color: #191919;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    left: 250px;
}

.sl__botton {

    position: relative;
    background: #E50046;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    border-radius: 24px;
    box-shadow: 0px 3px 6px rgba(229, 0, 70, 0.24);
    width: 158px;
    height: 41px;
    padding: 13px 25px;
    box-sizing: border-box;
    top: 795px;
    left: 1420px;
}

.sl__botton a {
    color: #FFFFFF;
}

footer {
    max-width: 1370px;
    margin: 0 auto;
}